.resultsTable{
  width: 85%;
  padding: auto;
  margin: auto;
  margin-top: 50px;
}

.header{
  width: 100%;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  background: #bf2229;
  color: white;
  align-items: center;
  justify-content: center;
}