.searchTable{
  width: 85%;
  margin: auto;
  margin-top: 20px;
  outline: solid 0.5px rgba(0,0,0,0.5);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.wide{
  margin: 15px 10px;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.panelHeading {
  width: 400%;
  background: #bf2229;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.btn{
    margin: 5px 40% 0px 40%;
}

.heading{
  width: 85%;
  margin: auto;
  margin-top: 40px;
  font-size:28px;
  font-weight: 400;
  color: #bf2229;
}

.line{
  width:85%;
  margin: 5px auto;
}